/*Main*/

* {
  box-sizing: border-box;
  /*border: 1px solid orange;*/
}

body {
  background-color: #f2f2f2;
  font-family: 'IM Fell Double Pica SC', serif;

}


/*Header*/

.headline {
  text-align: center;
  font-size: 3em;
}

/*Main Board*/

.board-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: #CF142B;
  border-radius: 15px; 
}

/*Questions*/

.question,
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IM Fell Double Pica SC', serif;
}

.question {
  background-color: #00247D;
  color: #ffffff;
  height: 50px;
  width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.question:hover {
  background-color: #ffffff;
  color: #00247D;
  cursor: pointer;

}

/*Categories*/

.category {
  width: 80%;
  margin: 0 auto;
  height: 65px;
  text-align: center;
  background-color: #CF142B;
  border-bottom: 1px solid black
}

.category-name {
  font-size: 1.5rem;
}

/*Question & Progress*/

.question-and-progress {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: #CF142B;
  border-radius: 15px;
  display: none; 
}

#new-question {
  padding:15px;
  font-size: 1.5em;
  text-align: center;
  color: #f2f2f2;
}

#new-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-answers button {
  height: 65px;
  width: 80%;
  margin: 5px;
  background-color: #ffffff;
  text-align: center;
}

#new-answers button:hover {
  background-color: #00247D;
  color: #ffffff;
  font-size: 1.3em;
}

#player-feedback {
  width: 60%;
  display: none;
  font-size: 1.0em;
  text-align: center;
}





/*Media Queries*/

@media (min-width: 1069px) {
  .board-wrap {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }

  .body-wrap {
    flex-direction: row;
  }

  .col {
    width: 20%;
  }

  .col div {
    margin: 20px auto;
  }

  .question {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  }

  .question-and-progress {
    width: 90%;
  }

  #new-question {
    width: 100%;
    font-size: 2em;
  }

  #player-feedback {
    font-size: 1.5em;
  }

};